# Database config
MYSQL_DATABASE=openeats
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=root

# Django config
API_URL=0.0.0.0:OPENEATS_API_PORT
API_PORT=OPENEATS_API_PORT
DJANGO_SECRET_KEY=5aslu(#fo90e2^e+yo7np8a(h-^5@lqadr093sx0$ay!dykv7$
DJANGO_SETTINGS_MODULE=base.settings
DJANGO_DEBUG=False
# There are problems with CORS setup, so if you cant login than check from another source, and see if CORS blockage is the problem
ALLOWED_HOST=localhost, HOST_IP, 192.168.*.*
HTTP_X_FORWARDED_PROTO=true

# Node config
NODE_ENV=production
NODE_URL=HOST_IP:OPENEATS_GUI_PORT
NODE_API_URL=http://HOST_IP:OPENEATS_GUI_PORT
NODE_LOCALE=en
